<p>Welcome <%= @email %>!</p>

<p>We are excited to have you as member of the Marshes Winter Academy for the 2019-2020 season!</p>

<p>Using the default password <b>golf123</b>, you need to confirm your account email through the link below:</p>

<p>It's also highly recommended you change your password during your initial login</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>


<p>Enjoy the season!</p>



<hr>
<p>Derek MacDonald</p>
<p>Head Golf Professional</p>
